.fader .track{
    -fx-background-color: black;
    -fx-pref-width: 10;
    -fx-pref-height: 100;
}

.fader .thumb{
    -fx-pref-width: 20;
    -fx-pref-height: 40;
    -fx-scale-x: 1;
    -fx-background-radius: 7;
    -fx-background-color: #127a0e;
}

.audio-control TextField{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-max-width: 50;
}

.audio-control Label{
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

Knob{
    -fx-pref-width: 70;
    -fx-pref-height: 70;
}

